<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>
<body>
    <div class="content">
        <img class="imgAnimal" src="../../assets/img/undraw_programming_re_kg9v.svg" alt="">
        <p>Esta idea la pensé cuando me vi en la situación en la que mi familia y yo ibamos a viajar, y justamente ese fin de semana un pariente mio, que se quedaba con mi perrita cuando nos ibamos de viaje, también se iba de vacaciones, por lo que no teníamos donde dejar a nuestra perrita, ya que la idea de las guarderías no nos gustaba. 
            <br><br>
            Así que contacte con los padres de una amiga, los cuales se dedicaban a cuidar a mascotas mientras que sus dueños no estaban en casa para poder cuidarlos. Entonces me dí cuenta que hay muchas personas que estan dispuestos a cuidar a las mascotas de otras personas mientras que no están, así que decidí crear esta plataforma para aquellos cuidadores se diesen a conocer además de que los dueños tuviesen un contacto más directo con las personas que se harán acargo de su mascota en su ausencia.</p>
    </div>
</body>
</html>