<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <svg width="250" height="150">
    <circle cx="160" cy="45" r="50" style="stroke:#596CD9; stroke-width:1; fill:none;"></circle>
  </svg>
  
  <div class="title">
    <img class="log" id="img" src="../assets/img/dibujo-2.svg" alt="Logo Cuida A Mi Mascota">
  </div>
  
  <canvas id="lienzo" height="300"></canvas>

  <p-tabMenu [model]="items" [activeItem]="activeItem!" style="color: #262626;" ></p-tabMenu>
  
  <audio id="audio" src="../assets/burbuja.mp3"></audio>

  <router-outlet></router-outlet>
</body>
</html>