$primary: #596CD9;
$secondary: #262626;
$tertiary: #D7D7D9;

@font-face {
    font-family: Roboto;
    src: url(../assets/font/Roboto-Light.ttf);
}

@font-face {
    font-family: Calistoga;
    src: url(../assets/font/Calistoga-Regular.ttf);
}

h3{
    font-family: 'Calistoga';
}

.log{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.title{
    text-align: center;
}

p{
    font-family: 'Roboto';
}

.imgAnimal{
    width: 400px;
    height: 300px;
    padding: auto;
    margin: auto;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: justify;
}

body{
    background-color: $tertiary;
}

svg{
    position: absolute;
    right: 545px;
    top: 15px;
}

.container {
    text-align: center;
}

button {
    width: 70px;
    height: 30px;
    background-color: white;
    border: transparent;
}

.btn {
    text-align: left;

}

video {
    width: 55vw;
    height: 65vh;
}

svg{
    position: absolute;
    top: 385px;
    right: 0;
}

@media screen and (max-width: 740px) {
    p{
        font-size: 12px;
    }

    .content{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .imgAnimal{
        width: 250px;
        height: 200px;
        padding: auto;
        margin: auto;
    }

    
    svg{
        position: absolute;
        top: -385px;
        right: 0;
    }
}
