<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="content">
        <p>Con Cuida a mi mascota podrás contactar con otros usuarios para diferentes funcionales como podría ser buscar a un cuidador o buscar a dueños que estén buscando a un cuidador para su mascota. Con esta aplicación tratamos de que nuestras mascotas se sientas seguros y bien cuidados como si estuviesen en casa. 
            
            <br><br>

            ¿Tienes pasión por los animales?, ¿Te gustaría conseguir dinero estando junto a la mejor compañía que se puede tener?, entonces, ser cuidador es para tí, con este rol, puedes contactar o ser contactados por dueños para cuidar a sus mascotas cuando no pueden hacerse acargo de ellas por diversos motivos. 
            
            <br><br>

            ¿No te gustan las guarderías de mascotas?, ¿No te sientes seguro dejando a tu mascota tanto tiempo sola?, ¿Quieres contacto directo con los cuidadores de tu mascota?, con esta aplicación, podrás encontrar a todo tipo de cuidadores, podrás ponerte en contacto con ellos para acordar un precio por el cuidado de tu mascota, además de tener el contacto directo con el cuidador.
        </p>
        <img class="imgAnimal" src="../../assets/img/undraw_relaxing_walk_mljx.svg" alt="">
    </div>
</body>
</html>